.author {
  float: right;
  h5 {
    font-weight: 300;
    font-size: 0.8rem;
  }
  img {
    width: 23px;
    margin-top: 10px;
  }
}

.publish-date {
  font-size: 0.8rem;
}

article {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 11.14%;
  word-break: break-word;
  hyphens: auto;
  a {
    text-decoration: none;
  }
  p {
    margin: 1.6em 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
  }
  h5 {
    text-align: right;
    margin-top: 0;
    padding: 0;
    color: black;
    font-size: 1.2rem;
  }
  h4 {
    color: #a9a9a9;
    font-size: 0.9em;
    letter-spacing: 0.51px;
    text-align: center;
    margin: -1.7em auto 3em;
    font-style: italic;
  }
  .title {
    font-weight: 200;
    text-align: center;
    font-size: 2.6rem;
    line-height: 9rem;
    margin-top: 100px;
  }
  h2 {
    text-align: center;
    padding-top: 50px;
  }
}

.sub-title {
  font-weight: 300;
  color: rgb(78, 77, 77);
  font-size: 1.8rem;
}

.disqus {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.screenShot {
  width: 100%;
  border-radius: 8px;
}
