pre {
  background-color: #002b36;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.language-javascript,
.language-html {
  color: #aeb1b0;
  font-size: 0.8rem;
  white-space: pre-wrap;
  width: 100%;
}

.code {
  background: #134f5c;
  color: #fff;
  white-space: pre-wrap;
  tab-size: 4;
  padding-bottom: 40px;
  margin: 10px;
  border-radius: 4px;
  color: #4dd0e1;
  line-height: 1.3rem;
}

.command-line {
  background-color: rgb(235, 231, 231);
  border-radius: 5px;
  color: rgb(39, 39, 39);
  padding-left: 4px;
  font-size: 1rem;
}
