pre {
  background-color: #002b36;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.language-javascript,
.language-html {
  color: #aeb1b0;
  font-size: 0.8rem;
  white-space: pre-wrap;
  width: 100%;
}

.sub-title {
  font-weight: 300;
  color: rgb(78, 77, 77);
  font-size: 1.8rem;
}
