.container-tag {
  margin-top: 70px;
  width: 100%;
  .tags {
    text-align: center;
    li {
      display: inline-block;
      padding-top: 20px;
      padding-right: 15px;
      .tag {
        background: #eee;
        color: #999;
        padding: 4px 8px;
        font-size: 0.8rem;
        border-radius: 4px;
        text-decoration: none;
        -webkit-transition: color 0.2s;
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
        &:hover {
          -webkit-transition: 0.4s ease-in;
          -moz-transition: 0.4s ease-in;
          -o-transition: 0.4s ease-in;
          transition: 0.4s ease-in;
          background-color: $color-logo;
          color: white;
          // color: #62e0e466;
        }
      }
    }
  }
}
