/* media */

@media (max-width: 768px) {
  .toggle {
    display: block !important;
  }
  .links {
    display: none;
    text-align: center;
    margin-left: 25px;
    ul {
      float: none !important;
      li {
        display: block !important;
        padding: 10px;
      }
    }
  }
  .article {
    .card {
      width: 100% !important;
      // height: 230px;
      h1 {
        font-size: 1.5rem !important;
      }
      p {
        font-size: 0.8rem !important;
      }
      span {
        font-size: 0.6rem;
      }
      .container-tag-post {
        .tag-post {
          li {
            display: inline !important;
            list-style: none;
            padding: 2px 4px !important;
            border-radius: 2px !important;
          }
        }
      }
    }
  }
  .search {
    ul {
      li {
        font-size: 0.4rem !important;
      }
      hr {
        width: 60% !important;
      }
    }
    .inp-search {
      width: 60% !important;
    }
  }
}

@media only screen and (max-width: 700px) {
  article {
    font-size: 0.85em;
    line-height: 1.7em;
    margin-bottom: 30px;
    padding: 8%;
    p {
      font-size: 0.8rem;
    }
    h1 {
      font-size: 0.6rem;
      line-height: 3.5em;
      letter-spacing: 0;
    }
    h4 {
      letter-spacing: 0.3px;
      margin: -2.7em auto 4em;
    }
    h5 {
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 502px) {
  article {
    width: auto;
    font-size: 0.8em;
    line-height: 1.6em;
    p {
      font-size: 0.8rem !important;
      line-height: 1.6em !important;
    }
    h1 {
      font-size: 1.8rem !important;
      line-height: 1.4em;
      letter-spacing: 0;
    }
    h4 {
      letter-spacing: 0;
      margin: 0.4em auto 3em;
    }
    h5 {
      font-size: 1.2rem;
    }
    li {
      font-size: 0.6rem;
      line-height: 1.6em;
    }
    .sub-title {
      font-size: 1rem;
    }
    .language-javascript,
    .language-html {
      font-size: 0.4rem;
    }
    .author {
      font-size: 0.6rem;
      img {
        width: 18px;
        height: 18px;
      }
    }
    .publish-date {
      font-size: 0.4rem;
    }
  }
  .about-title {
    h3 {
      font-size: 1rem;
    }
    .p-about {
      font-size: 0.8rem !important;
    }
  }
}
