$back-gray:#F1F1F1;
$back-white: #ffffff;
$img-opacity: 0.6;


/* media */

@media (max-width:768px) {
  .toggle {
    display: block !important;
  }
  .links {
    display: none;
    text-align: center;
    margin-left: 25px;
    ul {
      float: none !important;
      li {
        display: block !important;
        padding: 10px;       
      }
    }
  }
  .article{
    .card{
      h1{
        font-size: 1.2rem;
      }
      p{
        font-size: 0.8rem;
      }
      h4{
        font-size: 0.6rem !important;
      }
    }
  }
}